@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sidebar.css */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.172);
  padding: 15px;
  height: 100vh;
}

.dht {
  white-space: pre-wrap;
  overflow: auto;
  color: white;
}

.sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-icon {
  width: 70px;
  height: 70px;
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 50%;
}

.sidebar-btn:hover {
  background-color: #555;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.bubles {
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.bubles::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Hide scrollbar for Chrome, Safari and Opera */



.add-button-container {
  margin-top: auto;
  text-align: center;
}

.add-button {
  padding: 8px 16px;
  font-size: 20px;
  color: white;
  /* Add other styles as needed */
}

/* ContextMenu.css */

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 4px;
  z-index: 1000;
}

.context-menu button {
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.upload-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-popup input {
  margin-bottom: 10px;
}

.upload-popup button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.upload-popup button:hover {
  background-color: #0056b3;
}


.calm-gradient-background {
  background: linear-gradient(135deg, rgb(151, 35, 134), rgb(134, 29, 80), rgb(151, 34, 34));
  background-size: 400% 400%;
  animation: gradientAnimation 130s ease infinite;
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






